! Urxvt
! --------
! general settings
URxvt.saveLines:        50000
URxvt.termName:         xterm-256color
URxvt.urgentOnBell:     false
URxvt.visualBell:       false
URxvt.iso14755:         false
URxvt.iso14755_52:      false
URxvt.meta8:            false
URxvt.metaSendsEscape:  true
URxvt.urlLauncher:      firefox
URxvt.underlineURLs:    true
URxvt.urlButton:        1
! appearance
URxvt.geometry: 		 400x400
URxvt.depth:             32
!URxvt.transparent:      true
URxvt.shading:           80
URxvt.underlineColor:    #4682B4
URxvt.highlightColor:    #666666
URxvt.throughColor:      #4682B4
URxvt.scrollBar:         false
URxvt.scrollTtyOutput:   false
URxvt.scrollWithBuffer:  true
URxvt.scrollTtyKeypress: true
URxvt.internalBorder:    0
URxvt.externalBorder:    0

! special
! url: https://github.com/mbadolato/iTerm2-Color-Schemes
URxvt.foreground:  #ebdbb2
URxvt.background:  [90]#1b1b1b
URxvt.cursorColor: #ebdbb2
!
! Black
URxvt.color0:      #1b1b1b
URxvt.color8:      #928374
!
! Red
URxvt.color1:      #cc241d
URxvt.color9:      #fb4934
!
! Green
URxvt.color2:      #98971a
URxvt.color10:     #b8bb26
!
! Yellow
URxvt.color3:      #d79921
URxvt.color11:     #fabd2f
!
! Blue
URxvt.color4:      #458588
URxvt.color12:     #83a598
!
! Magenta
URxvt.color5:      #b16286
URxvt.color13:     #d3869b
!
! Cyan
URxvt.color6:      #689d6a
URxvt.color14:     #8ec07c
!
! White
URxvt.color7:      #a89984
URxvt.color15:     #ebdbb2
!
! Bold, Italic, Underline
URxvt.colorBD:     #ebdbb2
!URxvt.colorIT:
!URxvt.colorUL:

! font
URxvt.font: xft:JetBrainsMono Nerd Font:size=13:antialias=true,\
            xft:Noto Color Emoji:size=13:antialias=true:autohint=true

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,resize-font
URxvt.clipboard.autocopy: true
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
! Restore Ctrl+Shift+(c|v)
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.C-minus:  resize-font:smaller
URxvt.keysym.C-plus:   resize-font:bigger
URxvt.keysym.C-equal:  resize-font:equal

! Sxiv
! --------
Sxiv.background: #1b1b1b
Sxiv.foreground: #458588
Sxiv.font: UbuntuMono Nerd Fon:size=13

! courser
! --------
Xcursor.theme: Yaru
Xcursor.size: 20
