@define-color bar-bg rgba(21, 21, 21, 0.8);
@define-color module-bg rgba(21, 21, 21, 0.9);
@define-color module-fg #FAFAFA;
@define-color white #FAFAFA;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
}

/* =========================
   Waybar
   ========================= */

window#waybar {
    background: @bar-bg;
    color: @white;

    /* Keep the bar completely square */
    border-radius: 0;
}

/* =========================
   Workspaces
   ========================= */

#workspaces {
    margin-left: 4px;
}

#workspaces button {
    margin: 5px 1px;
    padding: 0 10px;

    background: transparent;
    color: @white;

    border-radius: 7px;
    border: none;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.12);
}

#workspaces button.active {
    background: rgba(255, 255, 255, 0.20);
}

#workspaces button.urgent {
    background: #eb4d4b;
    color: #ffffff;
}

/* =========================
   Modules
   ========================= */

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-power,
#tray {
    margin: 5px 2px;
    padding: 2px 10px;

    /*background: @module-bg;*/
    background: transparent;
    color: @module-fg;

    border-radius: 7px;
    border: none;
}

/* =========================
   Window title
   ========================= */

#window {
    margin: 0 6px;
    padding: 2px 10px;

    color: rgba(255, 255, 255, 0.85);
}

/* =========================
   Battery
   ========================= */

#battery.charging,
#battery.plugged {
    background: #26a65b;
    color: #ffffff;
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: #ffffff;
}

/* =========================
   Network
   ========================= */

#network.disconnected {
    background: #960006;
    color: #ffffff;
}

/* =========================
   Audio
   ========================= */

#pulseaudio.muted {
    background: #960006;
    color: #ffffff;
}

/* =========================
   Tray
   ========================= */

#tray {
    background: transparent;
    /*color: #ffffff;*/

    padding-left: 10px;
    padding-right: 6px;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background: #eb4d4b;
    border-radius: 7px;
}

/* ==============================
    Power Profile Daemon
   ============================== */
#power-profiles-daemon.balanced {
    color: #A1E695;
}

#power-profiles-daemon.performance {
    color: #F74040;
}

#power-profiles-daemon.power-saver {
    color: #E4ED8A;
}

/* =========================
   Idle inhibitor
   ========================= */

#idle_inhibitor.activated {
    background: #26a65b;
    color: #ffffff;
}